.game-state-display {
    position: absolute;
    @mixin flex-center-sb;
    top: 2rem;
    left: 42%;
    margin-left: -29.5rem;
    width: 58.1rem;
    height: 20.4rem;
    background: #999;
    background: url(/dist/assets/images/UI-game-state-bg.png) no-repeat;
    z-index: 10;
}