.hp-section {
  @mixin open-sans-light;
  color: $mw-text;
}

.hp-section--title {
  position: relative;
  margin-top: 13.1rem;
  margin-bottom: 6rem;
  @mixin font-bold;
  fs: 3em;
  text-align: center;
  text-transform: uppercase;
  color: $mw-mocha;

  &:after {
    position: absolute;
    top: 4.7rem;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 8.4rem;
    height: .1rem;
    background: $mw-gold;
  }
}