.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    border-image: none;
}

@media (min-width: 768px) {
    .main-nav {
        
    }

    .main-nav--container {
        padding: 0;
    }

    .main-nav-link {
    letter-spacing: .04em;
    }

    .navbar-collapse {
        height: auto;
        border-top: 0;
        box-shadow: none;
        max-height: none;
        padding-left:0;
        padding-right:0;
    }
   /* .navbar-collapse.collapse {
        display: block !important;
        width: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }*/
    /*.navbar-collapse.in {
        overflow-x: visible;
    }
*/
    .navbar {
        position: absolute;
        bottom: 4rem;
        min-height: 0;
        margin-bottom: 0;
        padding-left: 10.2rem;
        padding-right: 10.2rem;
        background: transparent;
        color: #fff;
        border: none;
        border-radius: 0;
        transition: background .4s ease;
    }
    
    .navbar-default .navbar-nav>li>a {
        position: relative;
        padding: 0 .5rem;
        margin-right: 1.6rem;
        @mixin font-light;
        fs: 1.2em;
        text-transform: uppercase;
        color: #fff;
        transition: all .2s ease;

         &:after {
            content: "";
            position: absolute;
            top: 2.5rem;
            left: 50%;
            display: block;
            width: 0;
            height: 2px;
            background: #fff;
            opacity: 0;
            transition: all .4s ease;
        }
    }

    .navbar-default .navbar-nav>li.social-links-single-link>a {
        &:after {
            display: none;
        }
    }

    .navbar-default .navbar-nav>li:hover>a, 
    .navbar-default .navbar-nav>li:active>a {
        color: $mw-gold;
        background-color: transparent;
        cursor: pointer;
    }
     
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
       color: $mw-gold;
       background-color: transparent;
       cursor: pointer;
    }
    
    /* navbar attached to top state */
    .main-nav-attached {
        position: fixed;
        top: 0;
        bottom: auto;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background: $mw-dark;
        z-index: 999;
    }

    .main-nav-attached .navbar-nav>li:hover>a, 
    .main-nav-attached .navbar-nav>li:active>a {
        color: #fff;

        &:after {
            left: 25%;
            width: 50%;
            opacity: 1;
        }
    }
 
    .main-nav-attached .navbar-nav>.active>a, 
    .main-nav-attached .navbar-nav>.active>a:focus, 
    .main-nav-attached .navbar-nav>.active>a:hover {
        color: #fff;
        
        &:after {
            left: 25%;
            width: 50%;
            opacity: 1;
        }
    }
}