.pop-up {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 35rem;
    width: 60.2rem;
    margin-left: -30rem;
    margin-top: -15rem;
    padding: 3rem;
    background: #eee;
    background: url(/dist/assets/images/popup-paper-bg.png) no-repeat center;
    z-index: 110;
}

.pop-up-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .4);
    z-index: 100;
}

/* story and introduction */
.story--pop-up {
}

/*.story-images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
    
    img {
        display: block;
        width: 150px;
        height: 150px;
        border: 2px solid black;
        border-radius: 50%;
        overflow: hidden;
    }
}*/

.story-text {
    font-size: 3em;
    text-align: center;
}

.story-action-desc {
    margin-top: 3.3rem;
    font-size: 3em;
    text-align: center;
}

.player-name-inputs {
    @mixin flex-center-sb;
    margin: 2.5rem 3rem 3rem 3rem;
}

input[class="p-name-input"] {
    width: 19.5rem;
    font-size: 3em;
    text-align: center;
    background: transparent;
    color: #393939;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}

.story-btn {
    display: block;
}

/* token choice */
.token--pop-up {
    
}

.token-choice {
    width: 12rem;
    height: 12.3rem;
}

/* round win */
.round-win--pop-up {
    
}

/* game win */
.game-win--pop-up {
    
}