.button-link, a.button-link {
  @mixin font-light;
  fs: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: $mw-gold;
  height: 3.9rem;
  width: 14.8rem;
  border: 1px solid $mw-gold;
  transition: all .2s ease;

  &:active {
    color: #fff;
    background: $mw-gold;
    text-decoration: none;
  }

  &:visited, &:focus {
    color: $mw-gold;
    background: #fff;
    text-decoration: none;
  }
}

a.button-link {
  @mixin flex-center;
}

@media only screen and (min-width:768px) {
  a.button-link:hover, .button-link:hover {
    color: #fff;
    background: $mw-gold;
    text-decoration: none;
  }
}

