.fading-content {
  position: relative;
}

.fading-content-slide {
  /*display: none;*/
  /*position: relative;*/
  position: absolute;
  /*top: 0;
  left: 0;*/
}

.fading-content-active {
  /*display: block;*/
}