.section-text {
  width: 60rem;
  z-index: 110;
  
  .section-text-title {
    margin-bottom: 2.1rem;
    @mixin roboto-bold;
    fs: 1.3em;
    text-transform: uppercase;
    letter-spacing: .01em;
  }

  .section-text-promo {
    @mixin roboto-black;
    fs: 3em;
    letter-spacing: -.02em;
  }

  .section-text-info {
    margin-top: 2.5rem;
    fs: 1.8em;
    line-height: 1.3em;
  }

}