@media only screen and (max-width:1100px) {
  .our-team-section--headers-content_thumb {
    width: 33.3333%;

    &:hover>.our-team-section--headers-content_thumb-title, 
    &:active>.our-team-section--headers-content_thumb-title {
      opacity: 1;
      width: 22rem;
      height: 22rem;
      margin-left: -11rem;
      margin-top: -11rem;

      &:after {
        width: 18rem;
        height: 18rem;
        margin-left: -9rem;
        margin-top: -9rem;
      }
    }
  }

  .our-team-section--headers-content_thumb-title {
    width: 18rem;
    height: 18rem;
    margin-left: -9rem;
    margin-top: -9rem;
  }

  .headers-content_thumb-title-name {
    max-width: 18rem;
  }

  .headers-content_thumb-title-position {
    max-width: 18rem;
  }
}

@media only screen and (max-width:991px) {
  .our-team-section--info_person-img {
    img {
      float: none;
      margin-left: auto;
      margin-right: auto;
      padding-right: 0;
    }
  }

  .our-team-section--info_person-data {
    max-width: none;
    padding-left: 13.5rem;
    padding-right: 13.5rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .our-team-section--info_person-data--quote {
    width: 90%;
  }

  .our-team-section--info-control {
    justify-content: center;

    .our-team-section--info-control-btn {
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width:767px) {
  .our-team-section--headers-content_thumb {
    width: 50%;
  }

  .our-team-section--info_person-data--title {
    text-align: center;
  }

  .our-team-section--info_person-data {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 500px) {
  .our-team-section--headers-content_thumb {

    &:hover>.our-team-section--headers-content_thumb-title, 
    &:active>.our-team-section--headers-content_thumb-title {
      width: 19rem;
      height: 19rem;
      margin-left: -9.5rem;
      margin-top: -9.5rem;

       &:after {
        width: 16rem;
        height: 16rem;
        margin-left: -8rem;
        margin-top: -8rem;
      }
    }
  }

  .our-team-section--headers-content_thumb-title {
    width: 15rem;
    height: 15rem;
    margin-left: -7.5rem;
    margin-top: -7.5rem;
  }
  
  .headers-content_thumb-title-name {
    max-width: 15rem;
  }

  .headers-content_thumb-title-position {
    max-width: 15rem;
  }

  .our-team-section--info_person-data {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .our-team-section--info_person-data--description {
    fs: 1.5em;
  }
}

@media only screen and (max-width: 420px) {
  .our-team-section--headers-content_thumb {

    &:hover>.our-team-section--headers-content_thumb-title, 
    &:active>.our-team-section--headers-content_thumb-title {
      width: 16rem;
      height: 16rem;
      margin-left: -8rem;
      margin-top: -8rem;

       &:after {
        width: 14rem;
        height: 14rem;
        margin-left: -7rem;
        margin-top: -7rem;
      }
    }
  }

  .headers-content_thumb-title-name {
    max-width: 14rem;
    fs: 1.4em;
  }

  .headers-content_thumb-title-position {
    max-width: 14rem;
    fs: 1.2em;
  }
}

