@media only screen and (max-width: 1399px) {
    .content-wrapper {
        background-size: initial;
    }
}

@media only screen and (max-width: 1100px) {
    .game {
        width: 80rem;
        height: 48rem;
    }
}

@media only screen and (max-width: 800px) {
    .game {
        width: 60rem;
    }
}