@media only screen and (max-width:1070px) {
  .main-footer {
    padding-left: 5.2rem;
    padding-right: 5.2rem;
  }
}

@media only screen and (max-width:767px) {
  .main-footer {
    display: none;
  }
}