@media only screen and (max-width:767px) {
  .hp-section--title {
    margin-top: 8rem;
    fs: 2.5em;

    &:after {
      top: 3.7rem;
    }
  }
}

@media only screen and (max-width:600px) {
  .hp-section--title {
    margin-top: 5.7rem;
    margin-bottom: 3.3rem;
    fs: 1.8em;

    &:after {
      top: 2.7rem;
    }
  }
}

@media only screen and (max-width:380px) {
  .what-we-do-section {
    .hp-section--title {
      margin-bottom: 6.3rem;

      &:after {
        top: 4.7rem;
      }
    }
  }
}