
@media only screen and (max-width: 767px) {
  .social-links {
    margin-top: .8rem;
    margin-left: 2.5rem;

    .social-links-single-link {
        margin-right: 3.1rem;
      &:last-child {
        margin-right: 0;
      }
    }

    .social-svg {
      fill: #b1b1b1;
    }
  }

  .fb-link {
    .social-svg {
      width: 13px;
      height: 23px;
    }
  }

  .ytb-link {
    .social-svg {
      width: 24px;
      height: 24px;
    }
  }

  .tw-link {
    .social-svg {
      width: 24px;
      height: 22px;
    }
  }

  .contact-section--social {
    margin-left: 0;
  }
}

@media only screen and (max-width:350px) {
  .contact-section--social {
    .social-links-single-link {
      margin-right: 1rem;
      margin-left: 0;
    }
  }
}