@media only screen and (max-width: 1100px) {
  .contact-section--info {
    left: 12rem;
  }
}

@media only screen and (max-width: 767px) {
  .contact-section {
    display: flex;
    flex-flow: column-reverse nowrap;
    /*height: 122.1rem;*/
    height: 72rem;

    .hp-section--title {
      order: 1;
    }
  }
  
  .contact-section--map {
    margin-top: 3rem;
  }

  .contact-section--info {
    position: static;
    width: auto;
    text-align: center;
    padding-top: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    /*height: 75rem;*/
    height: 25rem;
  }

  .contact-section--info-company {
    margin-left: auto;
    margin-right: auto;
  }

  .contact-section--info-address {
    margin-left: auto;
    margin-right: auto;
  }

  .contact-section--form_input {
    max-width: none;
  }

  .contact-section--social {
    text-align: left;
    margin-left: 0;
  }
}

@media only screen and (max-width: 500px) {
  .contact-section {
    height: 65rem;
  }

  .contact-section--info {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    /*height: 60rem;*/
    height: 25rem;
  }

  .contact-section--info-company {
    margin-bottom: .5rem;
    fs: 1.4rem;
  }

  .contact-section--info-address {
    margin-bottom: 1rem;
    fs: 1.4rem;
  }

  .contact-section--info-contact-details {
    margin-bottom: 2.5rem;
    fs: 1.4em;
  }

  .contact-section--form_title {
    fs: 1.4rem;
  }

  .contact-section--form_subtitle {
    fs: 1.4rem;
  }

  .contact-section--form_submit {
    margin-right: 0;
  }
}



