@media screen and (max-width: 1100px) {
  .logo {
    top: 7rem;
  }
}

@media screen and (max-width: 970px) {
  .logo {
    top: 12rem;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    position: relative;
    margin-left: auto;
    top: 6rem;
    left: auto;
    width: 17.5rem;
  }
}