@media only screen and (max-width: 1000px) {
     .navbar {
        padding-left: 5.2rem;
        padding-right: 5.2rem;
    }
}

@media only screen and (max-width: 860px) {
     .navbar {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .navbar-default .navbar-nav>li>a {
        fs: 1.1em;
        margin-right: .8rem;
    }
}

@media only screen and (max-width: 767px) {
    .main-nav--container {
        padding: 0;
        border-image: none;
    }

    .main-nav--container-active {
        /*background: #fff;*/
        background: $mw-dark;
    }

    .container-fluid>.navbar-collapse, 
    .container-fluid>.navbar-header, 
    .container>.navbar-collapse, 
    .container>.navbar-header {
        margin: 0;
    }

    .navbar-collapse {
        height: auto;
        border-top: 0;
        box-shadow: none;
        max-height: none;
        padding-left:0;
        padding-right:0;
    }

    .navbar-default .navbar-toggle {
        border: none;
        padding: 0;
        margin: 2rem 2.5rem 0 0;
    }

    .navbar-default .navbar-toggle:focus, 
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }

    .navbar {
        position: absolute;
        top: 0;
       /* min-height: 0;
        margin-bottom: 0;*/
        padding-left: 0;
        padding-right: 0;
        background: transparent;
        color: #fff;
        border: none;
        border-radius: 0;
        transition: all .4s ease;
        z-index: 999;
    }

    .main-nav--links {
        margin: 4rem 2.5rem;
    }
    
    .navbar-default .navbar-nav>li>a,
    .navbar-default .navbar-nav>li:visited>a {
        position: relative;
        padding: 0;
        margin-bottom: 1.8rem;
        @mixin font-reg;
        fs: 1.9em;
        text-transform: uppercase;
        line-height: 1.2em;
        /* color: $mw-gold; */
        color: #fff;
        transition: all .2s ease;

         &:after {
            content: "";
            position: absolute;
            top: 2.5rem;
            left: 50%;
            display: block;
            width: 0;
            height: 2px;
            background: $mw-gold;
            opacity: 0;
            transition: all .4s ease;
        }
    }

    .navbar-default .navbar-nav>li:last-child>a {
        margin-bottom: 0;
    }

    .navbar-default .navbar-nav>li.social-links-single-link>a {
        &:after {
            display: none;
        }
    }

    .navbar-default .navbar-nav>li:hover>a, 
    .navbar-default .navbar-nav>li:active>a {
        /* color: $mw-gold; */
        color: #fff;
        background-color: transparent;
        cursor: pointer;
    }
     
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
       /* color: $mw-gold; */
       color: #fff;
       background-color: transparent;
       cursor: pointer;
    }
    
    /* navbar attached to top state */
    /*.main-nav-attached {
        position: fixed;
        top: 0;
        bottom: auto;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        z-index: 999;
        background: $mw-gold;
    }

    .main-nav-attached .navbar-nav>li:hover>a, 
    .main-nav-attached .navbar-nav>li:active>a {
        color: #fff;

        &:after {
            left: 25%;
            width: 50%;
            opacity: 1;
        }
    }
 
    .main-nav-attached .navbar-nav>.active>a, 
    .main-nav-attached .navbar-nav>.active>a:focus, 
    .main-nav-attached .navbar-nav>.active>a:hover {
        color: #fff;
        
        &:after {
            left: 25%;
            width: 50%;
            opacity: 1;
        }
    }*/
}