
/* Global styles */

* {
  box-sizing: border-box;
}

html, body {
  @mixin pirate-font;
  font-size: 10px;
  width: 100%;
  height: 100%;
}

.content-wrapper {
  padding-left: 0;
  padding-right: 0;
}

.no-border {
  border: none;
}

.is-uppercase {
  text-transform: uppercase;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

img, button, p {
  margin: 0;
  padding: 0;
}

img, video {
  max-width: 100%;
  height: auto;
  width: 100%;
}


/* Headers */
h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 3em;
}

/* text styles */

strong {
}
