/*  Mixins and extends to use throught the project */

@define-mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@define-mixin flex-center-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@define-mixin font-light {
  font-family: sans-serif;
  font-weight: 300;
}

@define-mixin font-reg {
  font-family: sans-serif;
  font-weight: 400;
}

@define-mixin font-bold {
  font-family: sans-serif;
  font-weight: 700;
}

@define-mixin pirate-font {
  font-family: 'Pirata One', cursive;
}
