
.is-hidden {
  display: none;
}

.is-block {
  display: block; 
}

.is-flex {
  display: flex;
}

.is-flex-inline {
  display: inline-flex;
}

[data-taken="p1"] {
  background: red;
  &:hover {
     background: red;
  }
}

[data-taken="p2"] {
  background: green;
   &:hover {
     background: green;
  }
}

